@section Styles {
    <link rel="stylesheet" href="~/css/member/profile.css" asp-append-version="true"/>
}

<div class="profile-container mt-3 overflow-hidden">
    <div class="form-infor">
        <div class="info-member row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="ms-5 my-4 text-danger">Infomation Member</h3>
                <form class="container-fluid d-flex justify-content-center flex-column" >
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Name Member</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Phone Number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Email</label>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                <img src="~/assets/Member/logo.jpg" class="card-img-top img-fluid" alt="">
            </div>

        </div>
    </div>
</div>