<div class="device-item col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="item p-3">
        <a class="thumbnail">
            <img src="http://thuquan.ou.edu.vn/cover//2020/10/13/TCNH-LHNB-E21B-Taichinhdoanhnghiep-16092020-eb-s.jpg" alt="ádfasdf" class="img-fluid d-block mx-auto" style="height: 300px; max-height: 300px;">
        </a>
        <div class="info d-flex flex-column justify-content-center align-items-center px-2 py-3">
            <a class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam animi, reiciendis facilis fugit inventore ut qui dolores architecto! Officia perspiciatis at ullam numquam ab officiis minus tempore possimus dignissimos doloremque.</a>
            <span class="mt-4 text-danger">100.000đ</span>
        </div>
    </div>
    
</div>